* {
    box-sizing: border-box;
}
html {
    background: #D8DFE2;
    padding: 0;
}

body {
    font-family: $font-family-main;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $padding-body-sides-mobile;
    padding-bottom: $height-header;
    background: #ECEFF1;
    position: relative;
    @media (min-width: $desktop-view) {
        padding: 0 $padding-body-sides-desktop;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
a {
    text-decoration: none;
    color: #727EC3;

    &:visited {
        color: darken(#727EC3, 5%);
    }
}