// BASE

$font-family_main: 'Open Sans', sans-serif;
$font-family_secondary: 'Righteous', cursive;

$background-color-page: #D8DFE2;
$background-color-body: #ECEFF1;

$desktop-view: 768px;

$color-links: #727EC3;

$padding-body-sides-mobile: 30px;
$padding-body-sides-desktop: 60px;

//HEADER

$height-header: 70px;
$color-fb:#3B5998;
$color-tw:#1DA1F2;
$color-gplus:#DB4437;
$shadow-icon: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
$shadow-icon-hover: 0 2px 4px 0 rgba(0, 0, 0, 0.8);


// NAV

$background-color-nav: #6ab344;
$font-size-nav: 16px;
$padding-nav: 20px;

//MAIN

$margin-articles: 10px;
$background-color-article-header: #E1E4E6;
$color-article-header: #727EC3;
$shadow-article: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
$shadow-article-hover: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);


// MISC

.article-header {
    margin: 0;
    padding: 10px;
    background: $background-color-article-header;
    color: $color-article-header;
    transition: background 0.3s ease;
    height: auto;

    h2 {
        margin: 0;
    }
}
