@import 'variables';

body {
    font-family: $font-family-main;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 70px;
    picture {
        height: 70px;
    }
    img {
        height: 70px;
        display: inline-block;
    }
    h1 {
        display: inline-block;
    }
    div {
        display: inline-block;
    }
}